.new-expense__controls{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

input{
    display: block;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    outline:1px solid #008793;
    min-width: 100%;
}
input[type="number"]{
    flex-grow: 3;
}

button[type="submit"]{
    display: block;
    margin: 1rem auto;
    padding: 0.56rem 1rem;
    font-size: 1.2rem;
    border-radius: 3px;
    border: none;
    width: 150px;
    background-color: #00bf72;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

button[type="submit"]:active{
    scale: 0.98;
}